body {
  background: #f9f8fe;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
a {
  color: #9670f4;
}
a .App-header {
  margin: 30px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  background: #f9f8fe;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
.navlink {
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
  transition: all 350ms ease-in-out;
}
.navlink:hover {
  color: #6348a8;
}
.logo {
  height: 50px;
  width: 50px;
}
@media (max-width: 960px) {
  .navbar {
    justify-content: center;
  }
}
