html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
  background-attachment: fixed; /* optional: makes it stay in place on scroll */
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  min-height: 100vh;
  max-width: 1100px;
  margin: 70px auto;
}

a {
  color: white;
}
a .App-header {
  margin: 30px 0;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  background: #a374d5;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.navlink {
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
  transition: all 350ms ease-in-out;
}
.navlink:hover {
  color: #6348a8;
}
.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
@media (max-width: 960px) {
  .navbar {
    justify-content: center;
  }
}
