.Dictionary section {
  background: rgb(248, 244, 252);
  padding: 30px;
  border-radius: 8px;
  margin: 20px 0;
  box-shadow: 0 0 8px rgba(229, 178, 202, 0.9),
    0 0 16px rgba(182, 133, 234, 0.85);
}

.Dictionary h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.search-form {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-form input[type="text"] {
  flex: 1;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search-form select {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #9670f4;
  color: white;
  font-weight: bold;
}

.search-form button {
  background-color: #9670f4;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
.search-form button:hover {
  border: #9670f4 1px solid;
  color: #9670f4;
  background: none;
}
.Dictionary .Hint {
  color: rgb(167, 166, 166);
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
}
.HistorySection {
  margin-top: 2rem;
  padding: 1rem;
  background: #f9fafb;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.HistorySection h2 {
  margin-bottom: 0.8rem;
  color: #111827;
}

.HistoryList {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.history-btn {
  background: #efdefc;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  color: #9670f4;
  font-weight: bold;
  transition: background 0.2s;
}

.history-btn:hover {
  background: rgba(182, 133, 234, 0.85);
  color: white;
}
.PhoneticSection {
  margin-top: 20px;
}

.WordTitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.PersianPronunciation {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 5px;
}

.ListenButton {
  padding: 6px 15px;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-weight: bold;
  cursor: pointer;
}
.persian-Phonetic {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
  transition: 300ms all ease-in-out;
  margin-right: 15px;
  color: #9670f4;
  background-color: white;
}
.persian-Phonetic:hover {
  color: white;
  background-color: #9670f4;
}
.phonetic-text {
  color: gray;
  font-weight: bold;
}
@media (max-width: 960px) {
  .search-form {
    flex-direction: column;
    align-items: stretch;
  }

  .search-form input[type="text"],
  .search-form select,
  .search-form button {
    width: 100%;
  }
}
